{
	"tabWidth": 4,
	"arrowParens": "avoid",
	"printWidth": 120,
	"proseWrap": "always",
	"useTabs": true,
	"trailingComma": "none",
	"singleQuote": true,
	"bracketSpacing": true,
	"configPath": "${workspaceFolder}/prettier.json",
	"overrides": [
		{
			"files": "*.yaml",
			"options": {
				"tabWidth": 2
			}
		},
		{
			"files": "*.yml",
			"options": {
				"tabWidth": 2
			}
		}
	]
}
