openapi: 3.0.0
info:
  title: BeyondJS CDN API
  description: BeyondJS CDN API Open API Specification
  version: 1.0.0
servers:
  - url: 'https://api.cdn.beyondjs.com'
    description: Production server
paths:
  /:
    get:
      tags:
        - Main
      responses:
        '200':
          description: Home endpoint
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  data:
                    type: array
  '/m/@{scope}/{pkg}@{version}/modules/{mod}':
    get:
      tags:
        - Modules
      summary: Serve conditional module bundle (scoped)
      description: Devuelve el bundle JavaScript del módulo solicitado (ruta con scope).
      parameters:
        - $ref: '#/components/parameters/scope'
        - $ref: '#/components/parameters/pkg'
        - $ref: '#/components/parameters/version'
        - $ref: '#/components/parameters/mod'
        - $ref: '#/components/parameters/target'
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/env'
        - $ref: '#/components/parameters/min'
        - $ref: '#/components/parameters/sourcemap'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/css'
      responses:
        '200':
          $ref: '#/components/responses/js-bundle'
        '304':
          $ref: '#/components/responses/not-modified'
        '400':
          $ref: '#/components/responses/bad-request'
        '404':
          $ref: '#/components/responses/not-found'
  '/m/{pkg}@{version}/modules/{mod}':
    get:
      tags:
        - Modules
      summary: Serve conditional module bundle (unscoped)
      description: Devuelve el bundle JavaScript del módulo solicitado (ruta sin scope).
      parameters:
        - $ref: '#/components/parameters/pkg'
        - $ref: '#/components/parameters/version'
        - $ref: '#/components/parameters/mod'
        - $ref: '#/components/parameters/target'
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/env'
        - $ref: '#/components/parameters/min'
        - $ref: '#/components/parameters/sourcemap'
        - $ref: '#/components/parameters/types'
        - $ref: '#/components/parameters/css'
      responses:
        '200':
          $ref: '#/components/responses/js-bundle'
        '304':
          $ref: '#/components/responses/not-modified'
        '400':
          $ref: '#/components/responses/bad-request'
        '404':
          $ref: '#/components/responses/not-found'
components:
  parameters:
    scope:
      name: scope
      in: path
      required: true
      description: NPM scope sin '@'
      schema:
        type: string
        pattern: '[a-z0-9._-]+'
    pkg:
      name: pkg
      in: path
      required: true
      description: Nombre del paquete
      schema:
        type: string
        pattern: '[a-z0-9._-]+'
    version:
      name: version
      in: path
      required: true
      description: Versión semver o tag
      schema:
        type: string
    mod:
      name: mod
      in: path
      required: true
      description: Ruta del módulo dentro del paquete (p. ej. "core/router")
      schema:
        type: string
    target:
      name: target
      in: query
      required: true
      description: Destino del bundle
      schema:
        type: string
        enum:
          - browser
          - node
    format:
      name: format
      in: query
      required: true
      description: Formato del bundle
      schema:
        type: string
        enum:
          - esm
          - cjs
          - system
    env:
      name: env
      in: query
      required: false
      description: Modo de compilación
      schema:
        type: string
        enum:
          - production
          - development
        default: production
    min:
      name: min
      in: query
      required: false
      description: Minificar salida
      schema:
        type: boolean
        default: true
    sourcemap:
      name: sourcemap
      in: query
      required: false
      description: Tipo de sourcemap
      schema:
        type: string
        enum:
          - inline
          - external
          - none
        default: external
    types:
      name: types
      in: query
      required: false
      description: 'Si true, agrega Link header al .d.ts del módulo'
      schema:
        type: boolean
        default: false
    css:
      name: css
      in: query
      required: false
      description: 'Si true, agrega Link header a la hoja de estilos (e import opcional en ESM)'
      schema:
        type: boolean
        default: false
  responses:
    js-bundle:
      description: JavaScript module
      headers:
        Cache-Control:
          schema:
            type: string
        ETag:
          schema:
            type: string
        Link:
          schema:
            type: string
        SourceMap:
          schema:
            type: string
        X-SourceMap:
          schema:
            type: string
        Content-Type:
          schema:
            type: string
            example: application/javascript; charset=utf-8
      content:
        application/javascript:
          schema:
            type: string
          examples:
            esm:
              summary: ESM bundle example
              value: |
                // Generated by BeyondJS
                export function hello(){console.log("hi")}
    not-modified:
      description: Resource not modified (ETag matched)
    bad-request:
      description: Invalid parameters
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: Invalid query parameter 'format'
    not-found:
      description: Module or artifact not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: Module core/router not found
